In [5]:
import pandas as pd
import numpy as np
import math

df = pd.read_csv("asteroid_data.csv")

df.head()

,links/self,id,neo_reference_id,name,nasa_jpl_url,absolute_magnitude_h,estimated_diameter/kilometers/estimated_diameter_min,estimated_diameter/kilometers/estimated_diameter_max,estimated_diameter/meters/estimated_diameter_min,estimated_diameter/meters/estimated_diameter_max,...,close_approach_data/0/relative_velocity/kilometers_per_second,close_approach_data/0/relative_velocity/kilometers_per_hour,close_approach_data/0/relative_velocity/miles_per_hour,close_approach_data/0/miss_distance/astronomical,close_approach_data/0/miss_distance/lunar,close_approach_data/0/miss_distance/kilometers,close_approach_data/0/miss_distance/miles,close_approach_data/0/orbiting_body,is_sentry_object,sentry_data
0,http://api.nasa.gov/neo/rest/v1/neo/3427459?ap...,3427459,3427459,(2008 SS),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,22.18,0.097399,0.217791,97.399107,217.791025,...,14.527860,52300.294612,32497.369172,0.119391,46.442967,1.786059e+07,1.109806e+07,Earth,False,NaN
1,http://api.nasa.gov/neo/rest/v1/neo/3716631?ap...,3716631,3716631,(2015 HN9),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,22.60,0.080270,0.179490,80.270317,179.489885,...,7.708430,27750.347668,17242.986861,0.082272,32.003689,1.230767e+07,7.647632e+06,Earth,False,NaN
2,http://api.nasa.gov/neo/rest/v1/neo/3720000?ap...,3720000,3720000,(2015 KT120),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,25.10,0.025384,0.056760,25.383703,56.759685,...,11.569204,41649.134313,25879.152374,0.266231,103.563752,3.982755e+07,2.474769e+07,Earth,False,NaN
3,http://api.nasa.gov/neo/rest/v1/neo/54201807?a...,54201807,54201807,(2021 SY3),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,27.00,0.010582,0.023661,10.581689,23.661375,...,5.929401,21345.843187,13263.476841,0.052024,20.237498,7.782742e+06,4.835972e+06,Earth,False,NaN
4,http://api.nasa.gov/neo/rest/v1/neo/54212590?a...,54212590,54212590,(2021 UJ1),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,26.33,0.014406,0.032214,14.406384,32.213653,...,22.126147,79654.130045,49493.978749,0.446135,173.546676,6.674091e+07,4.147088e+07,Earth,False,NaN

In [9]:
df = df.rename(columns={
    'close_approach_data/0/relative_velocity/kilometers_per_second': 'velocity_km_s',
    'estimated_diameter/meters/estimated_diameter_max': 'diameter_m',
    'name': 'name'
})

# Convert to numbers
df['velocity_km_s'] = pd.to_numeric(df['velocity_km_s'], errors='coerce')
df['diameter_m'] = pd.to_numeric(df['diameter_m'], errors='coerce')

# Drop blanks
df = df.dropna(subset=['velocity_km_s', 'diameter_m'])

df.head()

,links/self,id,neo_reference_id,name,nasa_jpl_url,absolute_magnitude_h,estimated_diameter/kilometers/estimated_diameter_min,estimated_diameter/kilometers/estimated_diameter_max,estimated_diameter/meters/estimated_diameter_min,diameter_m,...,velocity_km_s,close_approach_data/0/relative_velocity/kilometers_per_hour,close_approach_data/0/relative_velocity/miles_per_hour,close_approach_data/0/miss_distance/astronomical,close_approach_data/0/miss_distance/lunar,close_approach_data/0/miss_distance/kilometers,close_approach_data/0/miss_distance/miles,close_approach_data/0/orbiting_body,is_sentry_object,sentry_data
0,http://api.nasa.gov/neo/rest/v1/neo/3427459?ap...,3427459,3427459,(2008 SS),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,22.18,0.097399,0.217791,97.399107,217.791025,...,14.527860,52300.294612,32497.369172,0.119391,46.442967,1.786059e+07,1.109806e+07,Earth,False,NaN
1,http://api.nasa.gov/neo/rest/v1/neo/3716631?ap...,3716631,3716631,(2015 HN9),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,22.60,0.080270,0.179490,80.270317,179.489885,...,7.708430,27750.347668,17242.986861,0.082272,32.003689,1.230767e+07,7.647632e+06,Earth,False,NaN
2,http://api.nasa.gov/neo/rest/v1/neo/3720000?ap...,3720000,3720000,(2015 KT120),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,25.10,0.025384,0.056760,25.383703,56.759685,...,11.569204,41649.134313,25879.152374,0.266231,103.563752,3.982755e+07,2.474769e+07,Earth,False,NaN
3,http://api.nasa.gov/neo/rest/v1/neo/54201807?a...,54201807,54201807,(2021 SY3),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,27.00,0.010582,0.023661,10.581689,23.661375,...,5.929401,21345.843187,13263.476841,0.052024,20.237498,7.782742e+06,4.835972e+06,Earth,False,NaN
4,http://api.nasa.gov/neo/rest/v1/neo/54212590?a...,54212590,54212590,(2021 UJ1),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,26.33,0.014406,0.032214,14.406384,32.213653,...,22.126147,79654.130045,49493.978749,0.446135,173.546676,6.674091e+07,4.147088e+07,Earth,False,NaN

In [10]:
# Constants
G = 9.81              # m/s²
RHO0 = 1.225          # kg/m³ (sea level air density)
H = 8500.0            # m (scale height)
CD = 1.3              # drag coefficient
RHO_AST = 3000.0      # asteroid density (kg/m³)
V_ESCAPE = 11.186     # km/s
ENTRY_ANGLE = 45.0    # degrees down from horizontal

In [11]:
def simulate_entry(v_inf_km_s, diameter_m, angle_deg=ENTRY_ANGLE):
    # Convert units
    v_inf = v_inf_km_s * 1000        # m/s
    v_entry = math.sqrt(v_inf**2 + (V_ESCAPE*1000)**2)
    gamma = math.radians(-abs(angle_deg))

    # Initial state
    h = 120_000.0  # start altitude (m)
    vx = v_entry * math.cos(gamma)
    vy = v_entry * math.sin(gamma)
    x = 0.0
    t = 0.0
    dt = 0.02

    # Physical properties
    r = diameter_m / 2
    area = math.pi * r**2
    volume = (4/3)*math.pi*r**3
    mass = RHO_AST * volume

    while h > 0 and t < 2000:
        rho = RHO0 * math.exp(-h/H)
        v = math.sqrt(vx**2 + vy**2)
        drag = 0.5 * rho * CD * area * v**2 / mass
        ax = -drag * (vx/v)
        ay = -G - drag * (vy/v)

        vx += ax * dt
        vy += ay * dt
        x += vx * dt
        h += vy * dt
        t += dt

        if v < 50 and h > 0:
            break

    impact_speed = math.sqrt(vx**2 + vy**2)
    energy = 0.5 * mass * impact_speed**2 / 4.184e15  # in Mt TNT
    return impact_speed/1000, x/1000, t, energy  # km/s, km, s, Mt

In [12]:
results = []

for _, row in df.iterrows():
    v_imp, downrange, t_impact, energy = simulate_entry(row['velocity_km_s'], row['diameter_m'])
    results.append({
        'name': row['name'],
        'v_inf_km_s': row['velocity_km_s'],
        'diameter_m': row['diameter_m'],
        'impact_speed_km_s': round(v_imp, 3),
        'downrange_km': round(downrange, 1),
        'time_to_impact_s': round(t_impact, 1),
        'energy_Mt_TNT': round(energy, 3)
    })

sim_df = pd.DataFrame(results)
sim_df.head()

,name,v_inf_km_s,diameter_m,impact_speed_km_s,downrange_km,time_to_impact_s,energy_Mt_TNT
0,(2008 SS),14.527860,217.791025,18.005,119.6,9.2,628.677
1,(2015 HN9),7.708430,179.489885,13.316,119.3,12.4,192.484
2,(2015 KT120),11.569204,56.759685,14.850,119.7,10.6,7.570
3,(2021 SY3),5.929401,23.661375,10.422,119.2,13.5,0.270
4,(2021 UJ1),22.126147,32.213653,21.388,120.0,6.9,2.870